<div class="masthead clearfix">
  <div class="inner">
    <h3 class="masthead-brand"><%= image_tag "ida-logo.png" %></h3>
    <nav>
      <ul class="nav masthead-nav">
        <% if action_name != 'agile' %>
          <li class="active"><%= link_to "Home", "/static_pages/index" %></li>
          <li><%= link_to "Agile", "/static_pages/agile" %></li>
        <% else %>
          <li><%= link_to "Home", "/static_pages/index" %></li>
          <li class="active"><%= link_to "Agile", "/static_pages/agile" %></li>
        <% end %>
      </ul>
    </nav>
  </div>
</div>